### imports

In [16]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import scipy as sp

### load datasets

In [30]:
songsdata_df = pd.read_csv('muse_v3.csv')
songsdata_df = songsdata_df[['track', 'valence_tags', 'arousal_tags']]
display(songsdata_df)

songsliryc_df = pd.read_csv('Songs.csv')
display(songsliryc_df)

                                         track  valence_tags  arousal_tags
0                             'Till I Collapse      4.550000      5.273125
1                                    St. Anger      3.710000      5.833000
2                                     Speedin'      3.080000      5.870000
3                                 Bamboo Banga      6.555071      5.537214
4                                   Die MF Die      3.771176      5.348235
...                                        ...           ...           ...
89996                                   Battle      5.370000      3.450000
89997  Hands Tied to the Roots of a Hemorrhage      5.797887      4.132254
89998                           Crookfield Zoo      5.370000      3.450000
89999               Transparent (Full Version)      5.370000      3.450000
90000                                   Unfold      3.340000      1.405000

[90001 rows x 3 columns]

,Artist,Title,Lyrics
0,Taylor Swift,cardigan,"Vintage tee, brand new phone\nHigh heels on co..."
1,Taylor Swift,exile,"I can see you standing, honey\nWith his arms a..."
2,Taylor Swift,Lover,We could leave the Christmas lights up 'til Ja...
3,Taylor Swift,the 1,"I'm doing good, I'm on some new shit\nBeen say..."
4,Taylor Swift,Look What You Made Me Do,I don't like your little games\nDon't like you...
...,...,...,...
740,George Michael,The First Time Ever I Saw Your Face,The first time ever I saw your face\nI thought...
741,George Michael,Waiting For That Day/You Can’t Always Get What...,Now every day I see you in some other face\nTh...
742,George Michael,Shoot the Dog,"GTI, Hot Shot\nHe parks it there, just to piss..."
743,George Michael,Star People,"Maybe your mama gave you up, boy\nMaybe your d..."
744,George Michael,Tonight,Tonight\nDo we have to fight again\nTonight?\n...

### Make titles lowercase

In [31]:
songsdata_df['track'] = songsdata_df['track'].apply(lambda x : x.lower())
songsliryc_df['Title'] = songsliryc_df['Title'].apply(lambda x : x.lower())

### merge datasets

In [32]:
tracks = [row['track'] for _, row in songsdata_df[['track']].iterrows()]

tracks_com = []

for _, track in songsliryc_df[['Title']].iterrows():
    track = track['Title']
    if track in tracks:
        tracks_com.append(track)
        
print(len(tracks_com))

315

In [34]:
songsdata_df = songsdata_df.loc[songsdata_df['track'].isin(tracks_com)]

In [35]:
lyrics = []
for track in tracks_com:
    for _, row in songsliryc_df.iterrows():
        if row['Title'] == track:
            lyrics.append(row['Lyrics'])
            break
print(len(lyrics))

valence = []
for track in tracks_com:
    for _, row in songsdata_df.iterrows():
        if row['track'] == track:
            valence.append(row['valence_tags'])
            break
print(len(valence))

arousal = []
for track in tracks_com:
    for _, row in songsdata_df.iterrows():
        if row['track'] == track:
            arousal.append(row['arousal_tags'])
            break
print(len(arousal))

data = {'Title': tracks_com, 
        'Lyric': lyrics,
        'Valence': valence,
        'Arousal': arousal} 


df = pd.DataFrame(data)

315
315
315

In [36]:
df.to_csv('songslirycs.csv', index=False)

In [37]:
display(df)

,Title,Lyric,Valence,Arousal
0,exile,"I can see you standing, honey\nWith his arms a...",5.798868,3.582642
1,lover,We could leave the Christmas lights up 'til Ja...,6.786154,4.687692
2,betty,"Betty, I won't make assumptions\nAbout why you...",4.997581,3.177258
3,august,"Salt air, and the rust on your door\nI never n...",7.075000,3.922500
4,end game,I wanna be your end game\nI wanna be your firs...,3.725000,2.525000
...,...,...,...,...
310,monkey,Why can't you do it?\nWhy can't you set your m...,4.854803,3.817171
311,older,"I should have known, it seemed too easy\nYou w...",7.383267,5.197030
312,going to a town,I'm going to a town that has already been burn...,4.589667,3.814417
313,the first time ever i saw your face,The first time ever I saw your face\nI thought...,4.760000,3.330000
314,tonight,Tonight\nDo we have to fight again\nTonight?\n...,3.080000,5.870000